.caja{
    width: 45%;
    /* border: solid; */
    /* border-color: red; */
    margin: 0 auto;    
}
.capafondo{
    background: url("fondo.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 0.2;
    filter:saturate(0.3);
    width: 100%;
    position: fixed;
    /* Para que no quede encima de todo, sino de fondo se coloca: */
    z-index: -1;
}
.caja img{
    border-radius: 2em;
    box-shadow: 0 0 0.8em rgb(238, 4, 4);
    cursor: pointer;
}

 